/* from https://excaliburjs.com/docs/step-1-engine */

html,
body {
    background-color: black;
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}